<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight number</th>
	<th>Departure time</th>
	<th>Arrival time</th>

{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['dtime']}}</td>
		<td>{{line['atime']}}</td>
	</tr>
{% endfor %}


{% if staff[0] %}
	<input type="submit" value = "View Customer" onclick="hide()" />
{% endif%}
<div id="myDIV">
	<table id ="myTABLE" style="visibility: hidden"><th>Name</th><th>Passport Number</th><th>Email</th><th>Flight Number</th>
	{% for line in staff[1] %}
		{% for item in line %}
		<tr>
			<td>{{item['name']}}</td>
			<td>{{item['passport']}}</td>
			<td>{{item['email']}}</td>
			<td>{{item['flight_num']}}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</table>
</div>
<p id = "cust_info"></p>
<script>
function myFunction() {
		document.getElementById("cust_info").innerHTML = '<table><th>Name</th><th>Passport Number</th><th>Email</th>';
}

function hide() {
	var x = document.getElementById("myTABLE");
	if (x.style.visibility === "") {
		x.style.visibility = "hidden";
	} else {
	x.style.visibility = "";
	}
}
</script>



<a href="/{{redirect}}">Back</a>

</body>


</html>
