<html>
<head>
</head>
<body>
{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>

<br>
<h2>View my future flights</h2>
<table>
	<th>Flight number</th>
	<th>Airline</th>
	<th>Ticket ID</th>

{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['ticket_ID']}}</td>
	</tr>
{% endfor %}
</table>

<h2>Search for flights</h2>

<form action="/purchase" method="POST">
	<input type="text" name = "source" placeholder="source city" required/> </br>
	<input type="text" name = "destination" placeholder="destination city" required/></br>
	<input type="date" name = "departure date" placeholder="departure date" required/> </br>
	<input type="date" name = "arrival date" placeholder="arrival date"/></br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href="/logout">Logout</a>

</body>


</html>
