<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<!--Use case 4. View my flights-->
<h>
	<br>
	View my flights
</h>

<form action="/myFutureFlights" method="POST"></form>
<table>
	<th>Flight number</th>
	<th>Departure time</th>
	<th>Arrival time</th>

{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['dtime']}}</td>
		<td>{{line['atime']}}</td>
	</tr>
{% endfor %}
</table>

<form action="/myFlights" method="POST">
	<input type="text" name = "source" placeholder="source city" required/> </br>
	<input type="text" name = "destination" placeholder="destination city" required/></br>
	<input type="date" name = "departure date" placeholder="departure date" required/> </br>
	<input type="date" name = "arrival date" placeholder="arrival date"/></br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/logout">Logout</a>

</body>


</html>
