<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight number</th>
	<th>Departure time</th>
	<th>Arrival time</th>
	<th>Base price</th>
	<th>Purchase</th>

<form role = "form" action = "/purchaseAuth" method="POST">
{% for line in posts %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['dtime']}}</td>
		<td>{{line['atime']}}</td>
		<td>{{line['bprice']}}</td>
		<td><input type="checkbox" name = "flight_num" value="test"></td>
	</tr>
{% endfor %}
	<input type="submit" value="Purchase" />
</form>
</table>


</body>


</html>
