<!DOCTYPE html>
<html>
<body>

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
  <script type="text/javascript">window.alert("The tickets have been sold out")</script>
{% endif %}

{% if error == None %}

<h2>Details of your chosen flight: </h2>

<form id = "information" action="/purchaseComplete" method="POST"> 
  <table>
    <tr>
      <td>Flight No.: </td>
      <td id = flight_num>{{data['flight_num']}}</td>
    </tr>
    <tr>
      <td>Airline name:</td>
      <td> {{data['airline_name']}}</td>
    </tr>
    <tr>
      <td>Departure airport: </td>
      <td>{{data['dairport']}}</td>
    </tr>
    <tr>
      <td>Departure time:</td>
      <td>{{data['dtime']}}</td>
    </tr>
    <tr>
      <td>Arrival airport:</td>
      <td>{{data['aairport']}}</td>
    </tr>
    <tr>
      <td>Arrival time:</td>
      <td>{{data['atime']}}</td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>￥{{data['bprice']}}</td>
    </tr>
    <tr>
      <td>Customer Email: </td>
      <td><input type="text" name = "customer_email" placeholder="Customer Email" required/></td>
    </tr>
    <tr>
      <td>Card Expiration Date: </td>
      <td><input type="date" name = "card_exp_date" placeholder="Card Expiration Date" required/></td>
    </tr>
    <tr>
      <td> Name on Card: </td>
      <td><input type="text" name = "name_on_card" placeholder="Name on Card" required/></td>
    </tr>
    <tr>
      <td>Card No.: </td>
      <td><input type="text" name = "card_num" placeholder="Card No." required/></td>
    </tr>
    <tr>
      <td>Card Type: </td>
      <td><input type="text" name = "card_type" placeholder="Card Type" required/></td>
    </tr>
  </table>
  <input type="submit" value = Purchase onclick="myFunction()" />
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script>
    function myFunction(){
      var flight_num = document.getElementById('flight_num').innerText
      $.ajax({
                url: "/purchaseComplete",
                type: "POST",
                data: {flight_num: flight_num}
        });

    }
  </script>
{%endif%}

<br>
<a href="/home_Customer">Home Page</a>

</body>
</html>
